.gallery {
    width: 85%;
    height: 80%;
    margin: 4rem auto;
    z-index: 1;
}

.gallery-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.4),
      rgba(30, 64, 35, 0.4)
    );
    background-size: 40px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 4rem auto;
}

.category-buttons {
    width: 30%;
    height: auto;
    display: flex;
    gap: 2rem;
    margin: 0 auto;
}

.category-button {
    width: 50%;
    height: auto;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: rgba(24, 51, 28, 0.4);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: rgba(24, 51, 28, 0.6);
}

.gallery-images {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.gallery-item {
    background-color: transparent;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.3),
      rgba(30, 64, 35, 0.2)
    );
    padding: 2rem;
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out;
}

.gallery-item img {
    width: 380px;
    height: 450px;
    object-fit: cover;
    border-radius: 2rem;
    padding: 1rem;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.pet-description {
    margin: 0 auto;
}

.pet-description p{
    color: white;
    margin-left: 2rem;
    font-size: 2.7rem;
    margin: 0 auto;
    padding: 1rem;
}

.pet-description span {
    font-weight: bold;
    font-size: 2.8rem;
}

@media (max-width: 576px) {
    /* Estilos desde 0px hasta 576px*/
    .gallery-container {
        background-size: 15px;
        gap: 2rem;
        margin: 2rem auto;
    }

    .category-buttons {
        width: 70%;
    }
    
    .category-button {
        width: 70%;
        font-size: 1.8rem;
    }

    .gallery-images {
        gap: 0.8rem;
    }
    
    .gallery-item {
        width: 130px;
        height: 220px;
        padding: 1rem;
        border-radius: 1.5rem;
    }
    
    .gallery-item img {
        width: 110px;
        height: 140px;
        padding: 0.5rem;
        border-radius: 1rem;
    }
    
    .gallery-item:hover {
        transform: scale(1.05);
    }
    
    .pet-description p{
        font-size: 0.7rem;
        margin: 0 auto;
        line-height: 0rem;
    }
    
    .pet-description span {
        font-weight: bold;
        font-size: 0.8rem;
    }
}

@media (min-width: 576px) and (max-width: 1000px) {
    /* Estilos desde 576px hasta 1000px*/
    .gallery-container {
        background-size: 20px;
    }

    .category-buttons {
        width: 55%;
    }
    
    .category-button {
        width: 50%;
    }

    .gallery-images {
        gap: 2rem;
    }
    
    .gallery-item {
        width: 290px;
        height: 450px;
    }
    
    .gallery-item img {
        width: 250px;
        height: 300px;
    }
    
    .gallery-item:hover {
        transform: scale(1.05);
    }
    
    .pet-description p{
        font-size: 1.8rem;
        margin: 0 auto;
        line-height: 1rem;
    }
    
    .pet-description span {
        font-weight: bold;
        font-size: 1.9rem;
    }
}