.hero {
  /* Contenedor principal */
  width: 85%;
  height: 75vh;
  margin: 14rem auto 2rem auto;
  z-index: 1;
}

.hero-content {
  /* Contenedor principal del contenido de la primera seccion*/
  width: 100%;
  height: 65vh;
  background-image: url("./assets/dogs_and_cats/Family2.webp");
  background-size: cover; /* Asegura que cubra toda la pantalla sin deformarse */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat;
  border-radius: 2rem;
  overflow: hidden;
}

.hero-layer {
  /* Capa de transparencia lateral*/
  width: 43%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  background-image: linear-gradient(
    120deg,
    rgba(217, 216, 216, 0.2),
    rgba(30, 64, 35, 0.5)
  );
  background-size: 30px;
}

.hero-titles {
  /* Contenedor de los títulos */
  position: absolute;
  top: 0%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
}

.hero-subtitle {
  /* Subtítulo */
  color: white;
  font-size: 3rem;
  font-style: bold;
  font-style: italic;
  text-align: left;
  margin: 0;
}

.hero-title {
  /* Título principal */
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.hero-description {
  /* Descripción */
  position: absolute;
  top: 55%;
  width: 30%;
  height: 100%;
  color: white;
  font-size: 2rem;
  text-align: left;
  padding-top: 3rem;
  margin-left: 4rem;
}

.hero-stats {
  /* Contenedor de las estadísticas */
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 40%;
  top: 65%;
  right: 9.5%;
}

.hero-stat {
  /* Estadísticas */
  color: white;
  width: 80%;
  height: 100%;
}

.hero-stat-value {
  /* Valores de las estadísticas */
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.hero-stat-label {
  /* Etiquetas de las estadísticas */
  font-size: 2rem;
  font-weight: lighter;
  text-align: left;
  margin: 0;
}

@media (max-width: 576px) {
  .hero-layer {
    /* Capa de transparencia lateral no visible en pantallas menores a 576px*/
    display: none;
  }

  .hero-titles {
    /* Cambia la posicion del contenedor de los títulos */
    position: absolute;
    top: -16%;
    left: 18%;
    text-align: center;
    width: auto;
  }

  .hero-subtitle {
    /* Cambia el estilo del subtítulo para pantallas menores a 576px*/
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 0.5rem;
    border-radius: 1rem;
    width: 60%;
    margin: 0 auto;
  }

  .hero-title {
    /* Cambia el estilo del título principal para pantallas menores a 576px*/
    font-size: 2.5rem;
    text-align: center;
  }

  .hero-description {
    /* Cambia la posición de la descripción para pantallas menores a 576px*/
    position: absolute;
    top: 50%;
    left: 5%;
    width: 70%;
    height: auto;
    border-radius: 1rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .hero-stats {
    /* Cambia la posición de las estadísticas para pantallas menores a 576px*/
    position: absolute;
    top: 70%;
    left: 17%;
    width: 65%;
    height: auto;
    gap: 2rem;
  }

  .hero-stat {
    /* Cambia el estilo de las estadísticas para pantallas menores a 576px aplica transparencia*/
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 1rem;
    border-radius: 1rem;
  }

  .hero-stat-value {
    /* Cambia el estilo de los valores de las estadísticas para pantallas menores a 576px*/
    font-size: 1.5rem;
    text-align: center;
  }

  .hero-stat-label {
    /* Cambia el estilo de las etiquetas de las estadísticas para pantallas menores a 576px*/
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 576px) and (max-width: 1000px) {
  /* Estilos desde 576px hasta 1000px*/
  .hero {
    /* Cambia el margen inferior para pantallas entre 576px y 1000px*/
    margin-bottom: 10rem;
  }

  .hero-content {
    /* Cambia el ancho de la sección principal para pantallas entre 576px y 1000px*/
    height: 75vh;
  }

  .hero-layer {
    /* Capa de transparencia lateral no visible en pantallas entre 576px y 1000px*/
    display: none;
  }

  .hero-titles {
    /* Cambia la posición del contenedor de los títulos para pantallas entre 576px y 1000px*/
    position: absolute;
    top: -22%;
    left: 15%;
    width: 60%;
  }

  .hero-subtitle {
    /* Cambia el estilo del subtítulo para pantallas entre 576px y 1000px*/
    font-size: 2.5rem;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 0.5rem;
    border-radius: 1rem;
    width: 55%;
    margin: 0 auto;
  }

  .hero-title {
    /* Cambia el estilo del título para pantallas entre 576px y 1000px*/
    font-size: 3.5rem;
    text-align: center;
  }

  .hero-description {
    /* Cambia el estilo de la descripción para pantallas entre 576px y 1000px*/
    position: absolute;
    top: 46%;
    left: 15%;
    width: 60%;
    height: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 2rem;
  }

  .hero-stats {
    /* Cambia la posición de las estadísticas para pantallas entre 576px y 1000px*/
    position: absolute;
    top: 72%;
    left: 15%;
    width: 70%;
    height: auto;
    gap: 3rem;
  }

  .hero-stat {
    /* Cambia el estilo de las estadísticas para pantallas entre 576px y 1000px aplica transparencia*/
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 1rem;
    border-radius: 1rem;
  }

  .hero-stat-value {
    /* Cambia el estilo de los valores de las estadísticas para pantallas entre 576px y 1000px*/
    font-size: 3rem;
    text-align: center;
  }

  .hero-stat-label {
    /* Cambia el estilo de las etiquetas de las estadísticas para pantallas entre 576px y 1000px*/
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
  }
}
