.hero {
  width: 85%;
  height: 75vh;
  margin: 14rem auto;
  z-index: 1;
}

.search-container {
  width: 60%;
  margin: 0 auto 4rem auto;
  display: flex;
  gap: 1rem;
  background-color: transparent;
  backdrop-filter: blur(30px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(30, 64, 35, 0.2)
  );
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-input {
  padding: 1rem;
  border: none;
  background-color: rgba(30, 64, 35, 0.5);
  backdrop-filter: blur(20px);
  color: white;
  border-radius: 0.5rem;
  margin-right: 1rem;
  flex: 1;
}

.search-select {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
  flex: 0.3;
  background-color: rgba(30, 64, 35, 0.5);
  backdrop-filter: blur(20px);
  color: white;
}

.search-button {
  padding: 1rem;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(30px);
  background-image: linear-gradient(
    120deg,
    rgba(217, 216, 216, 0.2),
    rgba(30, 64, 35, 0.5)
  );
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-button:hover {
  background-color: rgba(30, 64, 35, 0.558);
}

.search-input::placeholder,
.search-select::placeholder {
  color: white;
  opacity: 1;
}

.hero-content {
  /* Contenedor principal */
  width: 100%;
  height: 65vh;
  background-image: url("./assets/dogs_and_cats/chewy-gWzTum_yMCg-unsplash.jpg");
  background-size: cover; /* Asegura que cubra toda la pantalla sin deformarse */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat;
  border-radius: 2rem;
  overflow: hidden;
}

.hero-layer {
  width: 43%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  background-image: linear-gradient(
    120deg,
    rgba(217, 216, 216, 0.2),
    rgba(30, 64, 35, 0.5)
  );
  background-size: 30px;
}

.hero-titles {
  position: absolute;
  top: 0%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
}

.hero-subtitle {
  color: white;
  font-size: 3rem;
  font-style: bold;
  font-style: italic;
  text-align: left;
  margin: 0;
}

.hero-title {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.hero-description {
  position: absolute;
  top: 55%;
  width: 30%;
  height: 100%;
  color: white;
  font-size: 2rem;
  text-align: left;
  padding-top: 3rem;
  margin-left: 4rem;
}

.hero-stats {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 40%;
  top: 73%;
  right: 8%;
}

.hero-stat {
  color: white;
  width: 80%;
  height: 100%;
}

.hero-stat-value {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.hero-stat-label {
  font-size: 2rem;
  font-weight: lighter;
  text-align: left;
  margin: 0;
}

@media (max-width: 576px) {
  /* Estilos desde 0px hasta 576px*/
  .search-container {
    width: 100%;
    margin: 0 auto 2rem auto;
  }

  .hero-layer {
    display: none;
  }

  .hero-titles {
    position: absolute;
    top: -16%;
    left: 18%;
    text-align: center;
    width: auto;
  }

  .hero-subtitle {
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 0.5rem;
    border-radius: 1rem;
    width: 60%;
    margin: 0 auto;
  }

  .hero-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero-description {
    position: absolute;
    top: 58%;
    left: 5%;
    width: 70%;
    height: auto;
    border-radius: 1rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .hero-stats {
    position: absolute;
    top: 78%;
    left: 17%;
    width: 65%;
    height: auto;
    gap: 2rem;
  }

  .hero-stat {
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 1rem;
    border-radius: 1rem;
  }

  .hero-stat-value {
    font-size: 1.5rem;
    text-align: center;
  }

  .hero-stat-label {
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 576px) and (max-width: 1000px) {
  /* Estilos desde 576px hasta 1000px*/
  .search-container {
    width: 80%;
    margin: 0 auto 2rem auto;
  }

  .hero-content {
    height: 75vh;
  }

  .hero-layer {
    display: none;
  }

  .hero-titles {
    position: absolute;
    top: -22%;
    left: 15%;
    width: 60%;
  }

  .hero-subtitle {
    font-size: 2.5rem;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 0.5rem;
    border-radius: 1rem;
    width: 55%;
    margin: 0 auto;
  }

  .hero-title {
    font-size: 3.5rem;
    text-align: center;
  }

  .hero-description {
    position: absolute;
    top: 55%;
    left: 15%;
    width: 60%;
    height: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 2rem;
  }

  .hero-stats {
    position: absolute;
    top: 80%;
    left: 15%;
    width: 70%;
    height: auto;
    gap: 3rem;
  }

  .hero-stat {
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(217, 216, 216, 0.2),
      rgba(30, 64, 35, 0.5)
    );
    padding: 1rem;
    border-radius: 1rem;
  }

  .hero-stat-value {
    font-size: 3rem;
    text-align: center;
  }

  .hero-stat-label {
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
  }
}
