:root {
  --primary-color: rgba(30, 64, 35, 0.7);
  --primary2-color: rgba(101, 140, 90, 0.7);
  --secondary-color: rgba(217, 193, 150, 0.4);
  --secondary2-color: rgba(217, 193, 150, 0.9);
  --contrast-color: rgb(166, 104, 81);
  --primary-font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  font-size: 10px !important; /* Define la base de la unidad rem (1rem = 10px) */
}

body {
  font-family: var(--primary-font) !important;
  background-image: url("./assets/dogs_and_cats/Family.jpg");
  background-size: cover; /* Asegura que cubra toda la pantalla sin deformarse */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Hace que el fondo no se mueva al hacer scroll */
  width: 100vw; /* Ocupa todo el ancho */
  height: 100vh; /* Ocupa todo el alto de la pantalla */
  overflow-x: hidden; /* Evita que aparezca scroll horizontal */
  display: flex;
  flex-direction: column;
}